streamlit==1.49.0
plotly==6.2.0
pandas==2.3.1
numpy==2.2.6
opencv-python-headless==4.10.0.84
ultralytics==8.3.170
Pillow==11.3.0
PyYAML==6.0.2
scipy==1.16.0
matplotlib==3.10.3
openpyxl==3.1.5
streamlit-webrtc==0.63.4
av==14.4.0